.container {
  text-align: center;
  /* padding: 0 2rem; */
}

/* デフォルト設定 dark-mode */
/* @media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
